<!DOCTYPE html>
<html lang="en">
  {{> shared/head}}
  <body id="{{slug}}">
    <section id="wrapper">
      {{> shared/header}}	
	  
	    <article>
	      <h2>{{headline}}</h2>
		    {{{body}}}
		    <ul>
		    {{#product}}
		      <li>
		        <a href="{{turl}}">{{name}}</a>
		      </li>
		    {{/product}}
		    {{#comingsoon}}
		      <li>
		        {{name}} - coming soon!
		      </li>
		    {{/comingsoon}}
		    </ul>
	    </article>
	
      {{> shared/footer}}
    </section>
    {{> shared/analytics }}
  </body>
</html>