<footer>  
  <p>Built with <a href="http://www.tinytree.info">Bonsai</a> © {{copyright}} - <a href="http://www.hitenparmar.com">Hiten Parmar</a> - <a href="http://www.madh.org">Blog</a> - <a href="mailto:h@h10labs.com">h@h10labs.com</a> - <a href="http://twitter.com/hitenp">@hitenp</a>{{!site_name}}</p>
</footer>